
  ul {
    &.nopuce {
      list-style-type: none;
      li {
        &.title-nav {
          margin-left: -30px;
          padding-bottom: 20px;
        }
        &.item-nav{
        }
      }
    }
  }
