.wrapper-weeks{
  border-top:solid 1px $border;
  border-bottom:solid 1px $border;
}

.col-week-number{
}

.col-day{

  .week{
    border-right:solid 1px $border;
      .col-today{
        color:cornflowerblue;
        background-color: #F5F5F5;
        h1{
          font-weight: bold;
        }
      }
  }

  .work{
    border-right:solid 1px $border;
  }

}