.wrapper-weeks{
  border-top:solid 1px $border;
  border-bottom:solid 1px $border;
}

.col-week-number{
}

.col-day{

  .week{
    border-right:solid 1px $border;
      .col-today{
        color:cornflowerblue;
        border-right: 1px solid $border;
        border-left: 1px solid $border;
        background-color: lighten($blue,30%);
        h1{
          font-weight: bold;
        }
      }
  }

  .work{
    border-right:solid 1px $border;
  }

}