.wrapper-weeks{
  border-top:solid 1px $border;
  border-bottom:solid 1px $border;
}

.col-week-number{
}

.col-day{

  .week{
    border-right:solid 1px $border;
    border-bottom: solid 1px $border;
  }

  .work{
    border-right:solid 1px $border;
  }

}