.col-work-week{
  border-right: 1px solid $border;
  &.coltoday{
    background-color: lighten($blue,30%);
  }
}


.sortable-drag {
  opacity: 1 !important;  /* Opacity for Modern Browsers */
  background-color: white;
  -webkit-box-shadow: 10px 10px 31px -5px rgba(133,133,133,1);
  -moz-box-shadow: 10px 10px 31px -5px rgba(133,133,133,1);
  box-shadow: 10px 10px 31px -5px rgba(133,133,133,1);
}

.ghost {
  opacity: 1 !important;  /* Opacity for Modern Browsers */
  background-color: #EAEAEA;
}


.sortable-fallback__ {
  opacity: 1 !important;  /* Opacity for Modern Browsers */
  filter: alpha(opacity=100)!important;  /* Opacity for IE8 and lower */
  background-color: blue;
  color: white;
}


.work{
  border-bottom: solid 1px $border;
  cursor:pointer;

  &:active{
    cursor:pointer;
  }
}
